$main-heading: 28px;
$second-heading: 26px;
$third-heading: 20px;
$main-size: 16px;
$main-font: arial, helvetica, sans-serif;
$head-font: bold;
$breakpoint-tablet: 768px;
$breakpoint-screen: 970px;
$breakpoint-fullscreen: 1140px;

$main-color: black;
$offwhite: #eee8d6;
$darkblue: #022933;
$yellow: #ffba00;
$blue: #0076a3;
$green: #097a58;
$orange: #964206;
$pink: #94058d;
$purple: #6d73c2;
